<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <!-- Designed by https://github.com/kaytcat -->
    <!-- Robot header image designed by Freepik.com -->
    <style type="text/css" media="screen">
      @media screen {
               /*Thanks Outlook 2013! http://goo.gl/XLxpyl*/
              td, h1, h2, h3 {
                font-family: 'Droid Sans', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
              }
            }
    </style>
    <style type="text/css" media="only screen and (max-width: 480px)">
      /* Mobile styles */
          @media only screen and (max-width: 480px) {
            table[class="w320"] {
              width: 320px !important;
            }
            td[class="mobile-block"] {
              width: 100% !important;
              display: block !important;
            }
          }
    </style>
    <style type="text/css">
      @import url(http://fonts.googleapis.com/css?family=Droid+Sans);
        /* General styling */
    </style>
  </head>
  <body class="body" style="-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;width:100%;height:100%;color:#37302d;background:#ffffff;font-size:16px;padding:0; margin:0; display:block; background:#ffffff; -webkit-text-size-adjust:none;" bgcolor="#ffffff">
    <table align="center" cellpadding="0" cellspacing="0" class="force-full-width" height="100%" style="border-collapse:collapse !important;width:100% !important;">
      <tr>
        <td align="center" valign="top" bgcolor="#ffffff" width="100%" style="font-family:Helvetica, Arial, sans-serif;font-weight:400;text-align:center;">
          <center>
            <table style="border-collapse:collapse !important;margin: 0 auto;" cellpadding="0" cellspacing="0" width="600" class="w320">
              <tr>
                <td align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif;font-weight:400;text-align:center;">

                  <table style="border-collapse:collapse !important;width:100% !important;margin: 0 auto;" cellpadding="0" cellspacing="0" class="force-full-width" bgcolor="#4dbfbf">
                    <tr>
                      <td style="font-family:Helvetica, Arial, sans-serif;font-weight:400;text-align:center;">
                        <br>
                        <img src="{{icon_link}}" width="224" height="240" alt="Icon" style="max-width:600px;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;">
                      </td>
                    </tr>
                    <tr>
                      <td class="headline" style="font-family:Helvetica, Arial, sans-serif;font-weight:400;text-align:center;color:#ffffff;font-size:36px;">
                        {{header}}
                    </td>
                    </tr>
                    <tr>
                      <td style="font-family:Helvetica, Arial, sans-serif;font-weight:400;text-align:center;">
                        <center>
                          <table style="border-collapse:collapse !important;margin: 0 auto;" cellpadding="0" cellspacing="0" width="60%">
                            <tr>
                              <td style="font-family:Helvetica, Arial, sans-serif;font-weight:400;text-align:center;color:#187272;">
                                <br>
                                {{text}}
                            <br>
                                <br>
                              </td>
                            </tr>
                          </table>
                        </center>
                      </td>
                    </tr>
                    <tr>
                      <td style="font-family:Helvetica, Arial, sans-serif;font-weight:400;text-align:center;">
                        <div>
                          <!--[if mso]>
                            <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:50px;v-text-anchor:middle;width:200px;" arcsize="8%" stroke="f" fillcolor="#178f8f">
                              <w:anchorlock/>
                                <center>
                          <![endif]-->
                          <a href="{{button_link}}" style="text-decoration:none;border:0;outline:none;color:#bbbbbb;background-color:#178f8f;border-radius:4px;color:#ffffff;display:inline-block;font-family:Helvetica, Arial, sans-serif;font-size:16px;font-weight:bold;line-height:50px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;">{{button}}</a>
                          <!--[if mso]>
                          </center>
                        </v:roundrect>
                          <![endif]-->
                        </div>
                        <br>
                        <br>
                      </td>
                    </tr>
                  </table>

                  <table style="border-collapse:collapse !important;width:100% !important;margin: 0 auto;" cellpadding="0" cellspacing="0" class="force-full-width" bgcolor="#414141">
                    <tr>
                      <td style="font-family:Helvetica, Arial, sans-serif;font-weight:400;text-align:center;background-color:#414141;">
                        <br>
                        <a href="{{google_link}}" style="text-decoration:none;border:0;outline:none;"> <img src="https://www.filepicker.io/api/file/R4VBTe2UQeGdAlM7KDc4" alt="google+" style="max-width:600px;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"> </a>
                        <a href="{{facebook_link}}" style="text-decoration:none;border:0;outline:none;"> <img src="https://www.filepicker.io/api/file/cvmSPOdlRaWQZnKFnBGt" alt="facebook" style="max-width:600px;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"> </a>
                        <a href="{{twitter_link}}" style="text-decoration:none;border:0;outline:none;"> <img src="https://www.filepicker.io/api/file/Gvu32apSQDqLMb40pvYe" alt="twitter" style="max-width:600px;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"> </a>
                        <br>
                      </td>
                    </tr>
                    <tr>
                      <td style="font-family:Helvetica, Arial, sans-serif;font-weight:400;text-align:center;color:#bbbbbb; font-size:12px;">
                        <a href="#" style="text-decoration:none;border:0;outline:none;color:#bbbbbb;">View in browser</a> |
                        <a href="#" style="text-decoration:none;border:0;outline:none;color:#bbbbbb;">Contact</a>
                        <br>
                        <br>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
